<ion-modal-view ng-controller="AddContactCtrl">
	<ion-header-bar align-title="center" class="tab-bar">
		<button on-tap="cancel()" class="button button-clear button-white">
			{{'modal.close' | translate}}
		</button>
		<h1 class="title ellipsis">
			{{'modal.contact.heading' | translate}}
		</h1>
	</ion-header-bar>

	<ion-content class="modal-content fix-modals-touch" scrollbar-y="false">
		<div class="item item-divider"></div>
		<form name="contactForm">
			<label class="item item-input item-stacked-label">
				<span class="input-label">
					{{'modal.contact.name.label' | translate}}
				</span>
				<input type="text" ng-model="data.name" placeholder="{{'modal.contact.name.placeholder' | translate}}" required unique-name>
			</label>

			<label class="item item-input item-stacked-label">
				<span class="input-label">
					{{'modal.contact.address.label' | translate}}
				</span>
				<input type="text" ng-model="data.address" ng-model-options="{debounce: 200}" placeholder="{{'modal.contact.address.placeholder' | translate}}" required autocapitalize="none" autocomplete="off" autocorrect="off" spellcheck="false" valid-address="onValidAddress(res)">
			</label>

			<advanced-toggle flag="advanced"></advanced-toggle>

			<div ng-show="advanced">
				<network-selector network="data.network"></network-selector>
				<memo-selector type="data.memo_type" memo="data.memo"></memo-selector>
			</div>
		</form>
		<div style="padding-left:16px;padding-right:16px">
			<button class="button button-block button-positive" on-tap="saveContact()" ng-disabled="contactForm.$invalid || contactForm.$pending">
				{{'global.save' | translate}}
			</button>
		</div>
	</ion-content>
</ion-modal-view>
