<config-navbar heading="Create a Shared Account" back="&lt;&nbsp;{{'global.back' | translate}}"></config-navbar>
<ion-content class="has-header" scrollbar-y="false">

	<div ng-if="vm.state==0">
		<form name="createAccountForm">
			<div class="list" style="margin-bottom:0px">
				<div class="item item-divider"></div>
				<label class="item item-input item-inset item-stacked-label">
					<span class="input-label">
						{{'account.name.label' | translate}}
					</span>
					<input type="text" ng-model="vm.account.alias" required unique-name>
				</label>
				<network-selector network="vm.account.network"></network-selector>
				<label class="item item-input item-select item-stacked-label">
					<span class="input-label">
						Number of cosigners
					</span>
					<select ng-model="vm.numCosigners" ng-change="vm.onCosignerCountChange()" ng-options="value for value in vm.getCosignerOptions()"></select>
				</label>

				<label class="item item-input item-select item-stacked-label" ng-if="!vm.advanced">
					<span class="input-label">
						Required number of signatures
					</span>
					<select ng-model="vm.threshold" ng-options="value for value in vm.getThresholdOptions()"></select>
				</label>
				<label class="item item-input item-inset item-stacked-label" ng-if="vm.advanced">
					<span class="input-label">
						{{'Required Signing Threshold' | translate}}
					</span>
					<input type="number" ng-model="vm.threshold" min="1" max="255">
				</label>
			</div>
		</form>

		<div class="button-group" style="position:absolute;bottom:0">
			<button class="button button-block button-positive" on-tap="vm.next()" ng-disabled="createAccountForm.$invalid">
				{{'global.next' | translate}}
			</button>
		</div>
	</div>

	<div ng-if="vm.state==1">
		<div class="list">
			<div class="item item-divider"></div>

			<label class="item item-input item-stacked-label">
				<span class="input-label">
					Co-Signer #{{vm.currentSignerIndex}}
				</span>
				<input type="text" name="signer" ng-model="vm.account.signer" ng-model-options="{debounce: 200}" placeholder="{{'Co-signer address' | translate}}" autocapitalize="none" autocomplete="off" autocorrect="off" spellcheck="false" valid-address="vm.onValidAddress(res)">
			</label>

			<label class="item item-input item-inset item-stacked-label" ng-if="vm.advanced">
				<span class="input-label">
					{{'Signing Weight' | translate}}
				</span>
				<input type="number" ng-model="vm.account.weight" min="1" max="255">
			</label>

			<div ng-hide="vm.account.destInfo">
				<div class="item item-divider"></div>

				<select-account
					network="vm.account.network"
					destination="vm.account.signer"
					filter="vm.accountFilter"
					bind="vm">
				</select-account>

				<select-contact
					network="vm.account.network"
					destination="vm.account.signer"
					filter="vm.contactFilter"
					bind="vm">
				</select-contact>

				<select-from-qr
					network="vm.account.network"
					destination="vm.account.signer">
				</select-from-qr>
			</div>
		</div>

		<div class="button-group" style="position:absolute;bottom:0">
			<button class="button button-block button-positive" on-tap="vm.next()" ng-disabled="!vm.account.destInfo">
				Add co-signer
			</button>
		</div>
	</div>

	<div ng-if="vm.state==2">
		<form name="funderForm" class="list">
			<div class="item item-divider"></div>

			<label class="item item-input item-inset item-stacked-label">
				<span class="input-label">
					{{'account.funding.label' | translate}}
				</span>
				<input type="text" ng-model="vm.account.funder" placeholder="{{'account.funding.placeholder' | translate}}" valid-funder network="vm.account.network" required>
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">
					{{'account.funding.amount.label' | translate}}
				</span>
				<input type="number" ng-model="vm.account.amount" placeholder="{{'account.funding.amount.placeholder' | translate}}" min="{{vm.minimum}}" required>
			</label>

			<div ng-hide="vm.account.funder">
				<div class="item item-divider"></div>

				<a href on-tap="vm.selectFunder()">
					<div class="item">
					<span>
						{{'Select a Funding Account' | translate}}
					</span>
						<div class="pull-right text-gray">
							<span>&raquo;</span>
						</div>
					</div>
				</a>
			</div>
		</form>

		<div class="button-group" style="position:absolute;bottom:0">
			<button class="button button-block button-positive" on-tap="vm.next()" ng-disabled="funderForm.$invalid">
				Create account
			</button>
		</div>
	</div>
</ion-content>

