<config-navbar heading="{{'page.add-account.import' | translate}}" back="&lt;&nbsp;{{'global.back' | translate}}"></config-navbar>
<ion-content class="has-header" scrollbar-y="false">

	<div ng-show="vm.state==1">
		<div class="list">
			<form name="importAccountForm">
				<div class="item item-divider"></div>

				<label class="item item-input item-inset item-stacked-label" ng-if="!vm.isScanned">
					<span class="input-label">
						{{'account.seed.label' | translate}}
					</span>
					<input type="text" ng-model="vm.account.seed" ng-change="vm.onChange()" required valid-seed>
				</label>

				<label class="item item-input item-inset item-stacked-label" ng-if="vm.isEncrypted">
					<span class="input-label">
						{{'account.password.label' | translate}}
					</span>
					<input type="password" ng-model="vm.account.password" ng-change="vm.onChange()" seed="vm.account.seed" valid-password2 required>
				</label>

				<div ng-if="!vm.isScanned">
					<network-selector network="vm.account.network"></network-selector>
				</div>
			</form>

			<div style="padding:8px 16px" ng-hide="importAccountForm.$invalid">
				{{ vm.account.id }}
			</div>
		</div>

		<div class="button-group" style="position:absolute;bottom:0">
			<button class="button button-block button-positive" on-tap="vm.next()" ng-disabled="importAccountForm.$invalid">
				{{'global.next' | translate}}
			</button>
		</div>
	</div>

	<div ng-show="vm.state==2">
		<form name="nameForm">
			<div class="list">
				<div class="item item-divider"></div>

				<label class="item item-input item-inset item-stacked-label">
					<span class="input-label">
						{{'account.name.label' | translate}}
					</span>
					<input type="text" ng-model="vm.account.alias" required unique-name>
				</label>
			</div>
		</form>

		<div class="button-group" style="position:absolute;bottom:0">
			<button class="button button-block button-positive" on-tap="vm.importAccount()" ng-disabled="nameForm.$invalid">
				{{'account.import' | translate}}
			</button>
		</div>
	</div>

</ion-content>
