<div ng-show="vm.hasPendingRequest()">
	<div style="padding:8px 16px; height:40px">
		<span>
			Signing requests
		</span>
	</div>
	<div class="feed" style="margin-bottom:0">
		<a class="feed-item" href on-tap="vm.reviewPending(tx)" ng-repeat="tx in vm.getRequests()">
			<jazzicon class="feed-item-icon" seed="{{tx.hash}}"></jazzicon>
			<div class="feed-item-comment">{{tx.hash.slice(0,16)}}...</div>
			<div class="payment">
				<div style="text-align:right;color:#444;">{{vm.isSigned(tx)}}</div>
			</div>
			<div class="more">&raquo;</div>
		</a>
	</div>
</div>
