<div style="background-color:#00BCD4;color:#FFFFFF">
	<div style="height:120px;font-size:18px">
		<div class="Aligner">
			<div class="Aligner-item Aligner-item--fixed">
				<div style="text-align:center" ng-repeat="asset in getAssets()">
					{{ asset.balance | formatAmount }}
					{{ asset.asset_code }}
				</div>
			</div>
		</div>
	</div>

	<div style="height:40px;margin-left:16px;margin-right:16px;margin-bottom:2px;display:flex;justify-content:space-between;align-items:flex-end;">
		<i class="icon" ng-class="lockClass" style="flex-basis:16px"></i>
		<span>{{network}}</span>
		<i style="flex-basis:16px">&nbsp;</i>
	</div>
</div>

