<div class="bottom-bar" style="height:40px;padding:0 16px;">
	<a href="#/account/overview" style="position:absolute;top:10px;text-align:center;left:0;right:0;">
		{{'tabs.home' | translate}}
	</a>
	<a href="#/account/recv" style="position:absolute;top:10px;left:16px">
		{{'tabs.receive' | translate}}
	</a>
	<a href="#/account/send" style="position:absolute;top:10px;right:16px" ng-show="vm.canSend()">
		{{'tabs.send' | translate}}
	</a>
	<span style="position:absolute;top:10px;right:16px" ng-hide="vm.canSend()">
		{{'tabs.send' | translate}}
	</span>
</div>
