<div class="bottom-bar" style="height:40px;padding:0 16px;">
	<a href="#/account/home" style="position:absolute;top:10px;text-align:center;left:0;right:0;">
		{{'account.activity' | translate}}
	</a>
	<a href="#/account/recv" style="position:absolute;top:10px;left:16px">
		{{'account.receive' | translate}}
	</a>
	<a href="#/account/send" style="position:absolute;top:10px;right:16px" ng-show="canSend()">
		{{'account.send' | translate}}
	</a>
	<span style="position:absolute;top:10px;right:16px" ng-hide="canSend()">
		{{'account.send' | translate}}
	</span>
</div>
