<config-navbar heading="Add an Account" back="Done"></config-navbar>

<ion-content class="has-header">
	<div class="list">
		<div class="item item-divider">
		</div>
		<a href="#/side-menu/create-account">
			<div class="item">
				<span>Create a new Account</span>
				<div class="pull-right text-gray">
					<span>&raquo;</span>
				</div>
			</div>
		</a>
		<a href="#/side-menu/import-account">
			<div class="item">
				<span>Import an Account</span>
				<div class="pull-right text-gray">
					<span>&raquo;</span>
				</div>
			</div>
		</a>
	</div>
</ion-content>
