<config-navbar heading="{{'sidemenu.settings.contacts' | translate}}" back="&lt;&nbsp;{{'global.back' | translate}}"></config-navbar>

<ion-content class="has-header">
	<div class="list">
		<div class="item item-divider">
		</div>
		<a ng-href="#/side-menu/contact/{{name}}" ng-repeat="name in names">
			<div class="item">
				<span>
					{{name}}
				</span>
				<div class="pull-right text-gray">
					<span>&raquo;</span>
				</div>
			</div>
		</a>
	</div>

	<div style="padding-left:16px;padding-right:16px">
		<button class="button button-block button-positive" on-tap="addContact()">
			{{'sidemenu.settings.contacts.add' | translate}}
		</button>
	</div>
</ion-content>
