<config-navbar heading="{{'contact.edit' | translate}}" back="&lt;&nbsp;{{'global.back' | translate}}"></config-navbar>

<ion-content class="has-header">

	<form name="contactForm">
		<div class="item item-divider">
		</div>
		<label class="item item-input item-stacked-label">
			<span class="input-label">
				{{'contact.name.label' | translate}}
			</span>
			<input type="text" ng-model="model.name" placeholder="{{'contact.name.placeholder' | translate}}" required>
		</label>

		<label class="item item-input item-stacked-label">
			<span class="input-label">
				{{'contact.address.label' | translate}}
			</span>
			<input type="text" ng-model="model.id" placeholder="{{'contact.address.placeholder' | translate}}" required autocapitalize="none" valid-address>
		</label>

		<div style="padding-left:16px;padding-right:16px">
			<button class="button button-block button-positive" on-tap="updateContact()">
				{{'contact.update' | translate}}
			</button>
		</div>

		<div style="padding-left:16px;padding-right:16px">
			<button class="button button-block button-positive" on-tap="deleteContact()">
				{{'contact.delete' | translate}}
			</button>
		</div>
	</form>
</ion-content>
