<config-navbar heading="{{'sidemenu.account.import' | translate}}" back="&lt;&nbsp;{{'global.back' | translate}}"></config-navbar>
<ion-content class="has-header">
	<form name="importAccountForm">
		<div class="list">
			<div class="item item-divider"></div>
			<label class="item item-input item-inset item-stacked-label">
				<span class="input-label">
					{{'account.name.label' | translate}}
				</span>
				<input type="text" ng-model="account.alias" required>
			</label>
			<label class="item item-input item-inset item-stacked-label" ng-if="!scanned">
				<span class="input-label">
					{{'account.seed.label' | translate}}
				</span>
				<input type="text" ng-model="account.seed" required valid-seed>
			</label>
			<label class="item item-input item-inset item-stacked-label" ng-if="encrypted">
				<span class="input-label">
					{{'account.password.label' | translate}}
				</span>
				<input type="password" ng-model="account.password" required>
			</label>

			<div ng-if="!scanned">
				<advanced-toggle ng-model="advanced"></advanced-toggle>
				<network-selector network="account.network" ng-show="advanced"></network-selector>
			</div>
		</div>
	</form>
	<div style="padding-left:16px;padding-right:16px">
		<button class="button button-block button-positive" on-tap="import()" ng-disabled="importAccountForm.$invalid">
			{{'account.import' | translate}}
		</button>
	</div>
</ion-content>
