<div class="sidebar" ng-controller="MainMenuCtrl">

	<ion-content>
		<div style="display:flex;flex-direction:column;align-items:center;color:#ECECEC;padding:20px 0;border-bottom:1px solid #495867;background-color:#2C3E50">
			<h1 style="color:#ECECEC">Stargazer</h1>
			<div>v1.0.0</div>
		</div>

		<ion-list>
			<ion-item ng-repeat="account in getAccounts()"
					  ng-class="{selected: account.id === wallet.current.id}"
					  ng-href="#/account/{{account.id}}"
					  menu-toggle>
				<i class="icon" ng-class="getType(account)"></i>
				{{account.alias}}
			</ion-item>

			<ion-item href="#/side-menu/add-account" menu-toggle>
				<span>{{'sidemenu.account' | translate }}</span>
				<div class="pull-right">
					<span>&raquo;</span>
				</div>
			</ion-item>

			<ion-item href="#/side-menu/settings" menu-toggle>
				<span>{{'sidemenu.settings' | translate}}</span>
				<div class="pull-right">
					<span>&raquo;</span>
				</div>
			</ion-item>
		</ion-list>
	</ion-content>
</div>
