<config-navbar heading="{{'settings.global.heading' | translate}}" back="{{'global.done' | translate}}"></config-navbar>

<ion-content class="has-header" scrollbar-y="false">
	<div class="list">
		<div class="item item-divider"></div>

		<a href="#/side-menu/language">
			<div class="item">
				<span>
					{{'settings.language' | translate}}
				</span>
				<div class="pull-right text-gray">
					{{language}}
					<span>&raquo;</span>
				</div>
			</div>
		</a>

		<a href="#/side-menu/contacts">
			<div class="item">
				<span>
					{{'settings.contacts' | translate}}
				</span>
				<div class="pull-right text-gray">
					<span>&raquo;</span>
				</div>
			</div>
		</a>
	</div>
</ion-content>
