<ion-modal-view ng-controller="SelectContactCtrl">
	<ion-header-bar align-title="center" class="tab-bar">
		<button on-tap="cancel()" class="button button-clear button-white">Close</button>
		<h1 class="title ellipsis">Add an Anchor</h1>
	</ion-header-bar>

	<ion-content class="modal-content text-center fix-modals-touch" ng-init="init()">
		<label class="item item-input item-stacked-label">
			<span class="input-label">Anchor Domain</span>
			<input type="text" ng-model="modal.domain" placeholder="Anchor domain name" autocapitalize="none" required>
		</label>

		<div style="padding-left:16px;padding-right:16px">
			<button class="button button-block button-positive" on-tap="saveContact(modal.contact)">Add</button>
		</div>
	</ion-content>

</ion-modal-view>
