<config-navbar heading="{{'settings.name' | translate}}" back="&lt;&nbsp;{{'global.back' | translate}}"></config-navbar>

<ion-content class="has-header" scrollbar-y="false">
	<form class="list">
		<div class="item item-divider"></div>
		<label class="item item-input item-stacked-label">
			<span class="input-label">{{'settings.name.label' | translate}}</span>
			<input type="text" id="alias" type="text" name="alias" autocomplete="off" ng-model="data.newName">
		</label>
	</form>
	<div style="padding-left:16px;padding-right:16px">
		<button type="button" class="button button-block button-positive" on-tap="save()">
			{{'global.save' | translate}}
		</button>
	</div>
</ion-content>
