<config-navbar heading="{{'settings.delete' | translate}}" back="&lt;&nbsp;{{'global.back' | translate}}"></config-navbar>

<ion-content class="has-header">
	<div class="item item-divider"></div>
	<form name="deleteForm" ng-if="isEncrypted">
		<label class="item item-input item-inset item-stacked-label">
			<span class="input-label">
				{{'settings.delete.password' | translate}}
			</span>
			<input type="password" ng-model="account.password" required valid-password signer="{{account.id}}">
		</label>
	</form>
	<div style="padding-left:16px;padding-right:16px">
		<button type="button" class="button button-block button-positive" on-tap="delete()" ng-disabled="isEncrypted && deleteForm.$invalid">
			{{'settings.delete.button' | translate}}
		</button>
	</div>
</ion-content>
