<config-navbar heading="{{'settings.federation' | translate}}" back="&lt;&nbsp;{{'global.back' | translate}}"></config-navbar>

<ion-content class="has-header">
	<form name="federationForm" class="list" ng-submit="save()">
		<div class="item item-divider"></div>
		<label class="item item-input item-stacked-label">
			<span class="input-label">
				{{'settings.federation.label' | translate}}
			</span>
			<input type="text" id="alias" type="text" name="alias" ng-model="data.federation"
				   placeholder="{{'settings.federation.placeholder' | translate}}" autocomplete="off" valid-federation accountid="{{accountId}}">
		</label>
	</form>

	<div style="padding-left:16px;padding-right:16px;text-align:center">
		<button type="submit" class="button button-block button-positive" ng-disabled="federationForm.$invalid || federationForm.$pending">
			{{'global.save' | translate}}
		</button>
		<span>
			{{'settings.federation.text' | translate}}
		</span>
	</div>
</ion-content>
