<config-navbar heading="{{'settings.inflation' | translate}}" back="&lt;&nbsp;{{'global.back' | translate}}"></config-navbar>

<ion-content class="has-header" scrollbar-y="false">
	<div class="list">
		<div class="item item-divider">
		</div>
		<form name="inflationForm">
			<label class="item item-input item-inset item-stacked-label" style="padding-right:32px;">
				<span class="input-label">
					{{'settings.inflation.label' | translate}}
				</span>
				<input type="text" name="destination" ng-model="send.destination" placeholder="{{'settings.inflation.placeholder' | translate}}" autocapitalize="none" autocomplete="off" valid-address="send.destInfo">
				<a on-tap="selectRecipient()" style="position:absolute;right:16px;top:40px">
					<i class="glyphicon glyphicon-book"></i>
				</a>
			</label>
		</form>
	</div>

	<div style="padding-left:16px;padding-right:16px">
		<button class="button button-block button-positive" on-tap="setInflation()" ng-disabled="inflationForm.$invalid || inflationForm.$pending">
			{{'global.save' | translate}}
		</button>
	</div>
</ion-content>
