<config-navbar heading="{{'account.settings' |translate}}" back="{{'global.done' | translate}}"></config-navbar>

<ion-content class="has-header">
	<div class="list">
		<div class="item item-divider"></div>

		<a href="#/account-settings/alias">
			<div class="item">
				<span>
					{{'account.settings.name' | translate}}
				</span>
				<div class="pull-right text-gray">
					{{account.alias}}
					<span>&raquo;</span>
				</div>
			</div>
		</a>

		<a href="#/account-settings/federation">
			<div class="item">
				<span>
					{{'account.settings.federation' | translate}}
				</span>
				<div class="pull-right text-gray">
					{{account.federation}}
					<span>&raquo;</span>
				</div>
			</div>
		</a>

		<a href="#/account-settings/trustlines">
			<div class="item">
				<span>
					{{'account.settings.trustlines' | translate}}
				</span>
				<div class="pull-right text-gray">
					<span>&raquo;</span>
				</div>
			</div>
		</a>

		<a href="#/account-settings/advanced">
			<div class="item">
				<span>
					{{'account.settings.advanced' | translate}}
				</span>
				<div class="pull-right text-gray">
					<span>&raquo;</span>
				</div>
			</div>
		</a>

		<div class="item item-divider">
			{{'account.settings.security' | translate}}
		</div>

		<div class="item item-toggle">
			<span>
				{{'account.settings.password' | translate}}
			</span>
			<div class="pull-right text-gray">
				<label class="toggle">
					<input type="checkbox" ng-model="flag.hasPassword" ng-change="togglePassword()">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</div>
		</div>

		<a href="#/account-settings/signers" ng-if="advanced">
			<div class="item">
				<span>
					{{'account.settings.signers' | translate}}
				</span>
				<div class="pull-right text-gray">
					<span>&raquo;</span>
				</div>
			</div>
		</a>
	</div>
</ion-content>
