<config-navbar heading="{{'settings.trustlines' | translate}}" back="&lt;&nbsp;{{'global.back' | translate}}"></config-navbar>

<ion-content class="has-header" scrollbar-y="false">

	<div ng-style="{'min-height':minHeight}">
		<div class="list" ng-repeat="anchor in anchors">
			<div class="item item-divider">
				<account-name id="{{::anchor.id}}" network="{{::account.network}}"></account-name>
			</div>

			<div ng-repeat="trustline in anchor.trustlines">

				<div class="item" ng-show="hasBalance(trustline)">
					<span>{{ trustline.object.asset_code }}</span>
					<span class="pull-right">{{ trustline.object.balance | formatAmount }}</span>
				</div>

				<div class="item item-toggle" ng-hide="hasBalance(trustline)">
					{{ trustline.object.asset_code }}
					<div class="pull-right text-gray">
						<label class="toggle">
							<input type="checkbox" ng-change="onChange()" ng-model="trustline.state">
							<div class="track">
								<div class="handle"></div>
							</div>
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="button-group">
		<button class="button button-block button-positive" on-tap="updateTrustlines()" ng-show="isDirty">
			{{'global.update' | translate}}
		</button>
		<button class="button button-block button-positive" on-tap="addAnchor()">
			{{'settings.trustlines.add' | translate}}
		</button>
	</div>
</ion-content>
