<config-navbar heading="{{'settings.trustlines' | translate}}" back="&lt;&nbsp;{{'global.back' | translate}}"></config-navbar>

<ion-content class="has-header">

	<div class="list" ng-repeat="anchor in anchors">
		<div class="item item-divider">
			<account-name id="{{::anchor.id}}" network="{{::account.network}}"></account-name>
		</div>

		<div ng-repeat="trustline in anchor.trustlines">

			<div class="item" ng-show="hasBalance(trustline)">
				<span>{{ trustline.object.asset_code }}</span>
				<span class="pull-right">{{ trustline.object.balance | formatAmount }}</span>
			</div>

			<div class="item item-toggle" ng-hide="hasBalance(trustline)">
				{{ trustline.object.asset_code }}
				<div class="pull-right text-gray">
					<label class="toggle">
						<input type="checkbox" ng-model="trustline.state">
						<div class="track">
							<div class="handle"></div>
						</div>
					</label>
				</div>
			</div>
		</div>
	</div>

	<div style="padding-left:16px;padding-right:16px">
		<button class="button button-block button-positive" on-tap="addAnchor()">
			{{'settings.trustlines.add' | translate}}
		</button>
	</div>

	<div style="padding-left:16px;padding-right:16px" ng-show="isDirty()">
		<button class="button button-block button-positive" on-tap="updateTrustlines()">
			{{'global.update' | translate}}
		</button>
	</div>
</ion-content>
