<ion-modal-view ng-controller="AddContactCtrl">
	<ion-header-bar align-title="center" class="tab-bar">
		<button on-tap="cancel()" class="button button-clear button-white">Close</button>
		<h1 class="title ellipsis">Add Contact</h1>
	</ion-header-bar>

	<ion-content class="modal-content fix-modals-touch">
		<form name="contactForm">
			<label class="item item-input item-stacked-label">
				<span class="input-label">Name</span>
				<input type="text" ng-model="model.name" placeholder="Contact Name" required>
			</label>

			<label class="item item-input item-stacked-label">
				<span class="input-label">Address</span>
				<input type="text" ng-model="model.address" placeholder="Contact Address" required autocapitalize="none" valid-address>
			</label>

			<div style="padding-left:16px;padding-right:16px">
				<button class="button button-block button-positive" on-tap="saveContact()" ng-disabled="contactForm.$invalid || contactForm.$pending">Save</button>
			</div>
		</form>
	</ion-content>
</ion-modal-view>
