<config-navbar heading="{{'sidemenu.account' | translate}}" back="{{'global.done' | translate}}"></config-navbar>

<ion-content class="has-header" scrollbar-y="false">
	<div class="list">
		<div class="item item-divider">
		</div>
		<a href="#/side-menu/create-personal">
			<div class="item">
				<span>
					Create a Personal Account
				</span>
				<div class="pull-right text-gray">
					<span>&raquo;</span>
				</div>
			</div>
		</a>

		<a href="#/side-menu/import-account">
			<div class="item bottom-border">
				<span>
					{{'sidemenu.account.import' | translate}}
				</span>
				<div class="pull-right text-gray">
					<span>&raquo;</span>
				</div>
			</div>
		</a>
	</div>
</ion-content>
