<config-navbar heading="{{'contact.edit' | translate}}" back="&lt;&nbsp;{{'global.back' | translate}}"></config-navbar>

<ion-content class="has-header" scrollbar-y="false">
	<div ng-style="{'min-height':vm.minHeight}">
		<div class="item item-divider"></div>
		<form name="contactForm">
			<label class="item item-input item-stacked-label">
				<span class="input-label">
					{{'contact.name.label' | translate}}
				</span>
				<input type="text" ng-model="vm.model.name" placeholder="{{vm.oldName}}" required unique-name="{{vm.oldName}}">
			</label>

			<label class="item item-input item-stacked-label">
				<span class="input-label">
					{{'contact.address.label' | translate}}
				</span>
				<input type="text" ng-model="vm.model.id" ng-model-options="{debounce: 200}" placeholder="{{'contact.address.placeholder' | translate}}" required autocapitalize="none" autocomplete="off" autocorrect="off" spellcheck="false" valid-address="vm.onValidAddress(res)">
			</label>

			<advanced-toggle flag="vm.advanced"></advanced-toggle>

			<div ng-show="vm.advanced">
				<network-selector network="vm.model.network"></network-selector>
				<memo-selector type="vm.model.memo_type" memo="vm.model.memo"></memo-selector>
			</div>
		</form>
	</div>

	<div class="button-group">
		<button class="button button-block button-positive" on-tap="vm.updateContact()" ng-disabled="contactForm.$invalid">
			{{'contact.update' | translate}}
		</button>
		<button class="button button-block button-positive" on-tap="vm.deleteContact()">
			{{'contact.delete' | translate}}
		</button>
	</div>
</ion-content>
