<config-navbar heading="{{'sidemenu.account.import' | translate}}" back="&lt;&nbsp;{{'global.back' | translate}}"></config-navbar>
<ion-content class="has-header" scrollbar-y="false">

	<div ng-style="{'min-height':vm.minHeight}">
		<form name="importAccountForm" >
			<div class="list">
				<div class="item item-divider"></div>

				<label class="item item-input item-inset item-stacked-label">
					<span class="input-label">
						{{'account.name.label' | translate}}
					</span>
					<input type="text" ng-model="vm.account.alias" required>
				</label>

				<label class="item item-input item-inset item-stacked-label" ng-if="!vm.isScanned">
					<span class="input-label">
						{{'account.seed.label' | translate}}
					</span>
					<input type="text" ng-model="vm.account.seed" required valid-seed>
				</label>

				<label class="item item-input item-inset item-stacked-label" ng-if="vm.isEncrypted">
					<span class="input-label">
						{{'account.password.label' | translate}}
					</span>
					<input type="password" ng-model="vm.account.password" seed="vm.account.seed" valid-password2 required>
				</label>

				<div ng-if="!vm.isScanned">
					<advanced-toggle flag="vm.advanced"></advanced-toggle>
					<network-selector network="vm.account.network" ng-show="vm.advanced"></network-selector>
				</div>
			</div>
		</form>
	</div>

	<div class="button-group">
		<button class="button button-block button-positive" on-tap="vm.import()" ng-disabled="importAccountForm.$invalid">
			{{'account.import' | translate}}
		</button>
	</div>
</ion-content>
