<ion-modal-view ng-controller="SelectContactCtrl">
	<ion-header-bar align-title="center" class="tab-bar">
		<button on-tap="cancel()" class="button button-clear button-white">
			{{'modal.close' | translate}}
		</button>
		<h1 class="title ellipsis">
			{{ 'Select Contact' | translate}}
		</h1>
	</ion-header-bar>

	<ion-content class="modal-content text-center fix-modals-touch" ng-init="init()" scrollbar-y="false">
		<div class="list">
			<div class="item item-divider">
				{{'modal.recipient.contacts' | translate}}
			</div>
			<a on-tap="select(contact)" ng-repeat="contact in contacts">
				<div class="item">
					{{ contact }}
				</div>
			</a>
		</div>
	</ion-content>

</ion-modal-view>
