<ion-modal-view ng-controller="AddPasswordCtrl">
	<ion-header-bar align-title="center" class="tab-bar">
		<h1 class="title ellipsis">
			{{heading | translate}}
		</h1>
	</ion-header-bar>

	<ion-content class="modal-content fix-modals-touch">

		<form name="passwordForm" ng-hide="confirm">
			<label class="item item-input item-stacked-label">
				<span class="input-label">
					{{'modal.password.label' | translate}}
				</span>
				<input type="password" ng-model="model.password" placeholder="{{'modal.password.placeholder' | translate}}" autocapitalize="none" required>
			</label>

			<div class="row" style="padding-left:16px;padding-right:16px">
				<div class="col col-50">
					<button class="button button-block button-light" on-tap="cancel()">
						{{'global.cancel' | translate}}
					</button>
				</div>
				<div class="col col-50">
					<button class="button button-block button-positive" on-tap="setPassword()" ng-disabled="passwordForm.$invalid">
						{{'global.ok' | translate}}
					</button>
				</div>
			</div>
		</form>

		<form name="confirmForm" ng-show="confirm">
			<label class="item item-input item-stacked-label">
				<span class="input-label">
					{{'modal.password.label' | translate}}
				</span>
				<input type="password" ng-model="model.confirm" placeholder="{{'modal.password.placeholder' | translate}}" autocapitalize="none" equal-to="model.password">
			</label>

			<div class="row" style="padding-left:16px;padding-right:16px">
				<div class="col col-50">
					<button class="button button-block button-light" on-tap="cancel()">
						{{'global.cancel' | translate}}
					</button>
				</div>
				<div class="col col-50">
					<button class="button button-block button-positive" on-tap="confirmPassword()" ng-disabled="confirmForm.$invalid">
						{{'global.ok' | translate}}
					</button>
				</div>
			</div>
		</form>

		<div style="padding-left:16px;padding-right:16px;text-align:center">
			{{'modal.password.warning' | translate }}
		</div>

	</ion-content>
</ion-modal-view>
