<config-navbar heading="{{'settings.delete' | translate}}" back="&lt;&nbsp;{{'global.back' | translate}}"></config-navbar>

<ion-content class="has-header" scrollbar-y="false">
	<div class="item item-divider"></div>
	<form name="form.delete" ng-if="vm.isEncrypted">
		<label class="item item-input item-inset item-stacked-label">
			<span class="input-label">
				{{'settings.delete.password' | translate}}
			</span>
			<input type="password" ng-model="vm.account.password" required valid-password signer="{{vm.account.id}}">
		</label>
	</form>

	<div class="button-group" style="position:absolute;bottom:0">
		<button type="button" class="button button-block button-positive" on-tap="vm.deleteAccount()" ng-disabled="vm.isEncrypted && form.delete.$invalid">
			{{'settings.delete.button' | translate}}
		</button>
	</div>
</ion-content>
