<wallet-header></wallet-header>

<ion-content scrollbar-y="false" ng-show="isActivated()">
	<ion-refresher
		pulling-text="{{'tabs.home.pull' | translate}}"
		pulling-icon="icon-pull"
		on-refresh="doRefresh()">
	</ion-refresher>
	<div style="background-color:#00BCD4;color:#FFFFFF">
		<div style="height:120px;font-size:18px;display:flex;flex-direction:column;justify-content:center">
			<div>
				<div style="text-align:center" ng-repeat="asset in getAssets()">
					{{ asset.balance | formatAmount }}
					{{ asset.asset_code }}
				</div>
			</div>
		</div>
		<account-info></account-info>
	</div>

	<div class="camera-icon" style="position:relative">
		<qr-scanner on-scan="onQrCodeScanned(data)"></qr-scanner>
	</div>
	<account-activity account="wallet.current" limit="100" filter="payments"></account-activity>
</ion-content>

<div ng-hide="isActivated()" style="height:100%">

	<div style="display:flex;flex-direction:column;justify-content:center;align-items:center;height:100%">
		<div>{{'tabs.home.empty' | translate}}</div>
	</div>

	<div style="height:40px;width:100%;position:fixed;bottom:40px">
		<div class="camera-icon" style="position:relative">
			<qr-scanner on-scan="onQrCodeScanned(data)"></qr-scanner>
		</div>
		<account-info></account-info>
	</div>
</div>

<wallet-footer></wallet-footer>
