<ion-modal-view ng-controller="PaymentRequestCtrl" style="height:390px">
	<ion-header-bar align-title="center" class="tab-bar">
		<button on-tap="cancel()" class="button button-clear button-white">Close</button>
		<h1 class="title ellipsis">Payment Request</h1>
	</ion-header-bar>

	<ion-content ng-hide="showResult" class="modal-content fix-modals-touch">
		<form name="qrForm">
			<label class="item item-input item-stacked-label">
				<span class="input-label">Amount to receive</span>
				<input type="number" ng-model="send.amount" placeholder="Amount" min="0" required>
			</label>

			<label class="item item-input item-select">
				<select ng-model="send.asset" ng-init="send.asset=balances[0]" ng-options="getAssetDescription(asset) for asset in balances"></select>
			</label>

			<div style="padding-left:16px;padding-right:16px">
				<button class="button button-block button-positive" on-tap="generateQrCode()" ng-disabled="qrForm.$invalid">Generate QR code</button>
			</div>
		</form>
	</ion-content>

	<ion-content ng-show="showResult" class="modal-content fix-modals-touch">
		<div class="list">
			<div class="item item-divider">QR Code</div>
			<div class="item" style="display:flex; flex-direction: column; align-items: center;">
				<qrcode text="text"></qrcode>
			</div>
			<div class="item item-divider"></div>
		</div>
	</ion-content>

</ion-modal-view>
