<wallet-header></wallet-header>
<ion-content>
	<div style="display:flex; flex-direction: column; align-items: center;">
		<h1 style="margin-top:10px">
			{{'account.receive.heading' | translate}}
		</h1>
		<qrcode text="qrtext" ng-click="copyToClipboard(accountId)"></qrcode>
		<h6 ng-click="copyToClipboard(accountId)">{{accountId}}</h6>
	</div>
	<div style="padding-left:16px;padding-right:16px">
		<button class="button button-block button-positive" on-tap="request()">
			{{'account.receive.button' | translate}}
		</button>
	</div>
</ion-content>
<wallet-footer></wallet-footer>
