<wallet-header></wallet-header>
<ion-content>
	<div class="list">
		<div class="item item-divider">
			{{'tabs.send.info.heading' | translate}}
		</div>

		<form name="$parent.sendForm">
			<label class="item item-input item-inset item-stacked-label">
				<span class="input-label">
					{{'tabs.send.destination.label' | translate}}
				</span>
				<input type="text" name="destination" ng-model="send.destination" placeholder="{{'tabs.send.destination.placeholder' | translate}}" autocapitalize="none" valid-address>
				<a on-tap="selectRecipient()" style="position:absolute;right:16px;top:40px">
					<i class="glyphicon glyphicon-book"></i>
				</a>
				<span style="overflow:hidden;text-overflow:ellipsis;white-space:nowrap" class="text-gray" ng-show="send.destinationRaw && send.destinationRaw!==send.destination">
					({{send.destinationRaw}})
				</span>
			</label>

			<div ng-show="flags.hasValidDestination">
				<label class="item item-input item-stacked-label">
					<span class="input-label">
						{{'tabs.send.amount.label' | translate}}
					</span>
					<input type="number" ng-model="send.amount" ng-change="onAmount()" ng-model-options='{debounce: 200}' placeholder="{{'tabs.send.amount.placeholder' | translate}}" min="{{send.minAmount}}">
				</label>

				<label class="item item-input item-select item-stacked-label">
					<select ng-model="send.asset" ng-change="onAsset()" ng-options="getAssetDescription(asset) for asset in assets"></select>
				</label>
			</div>
		</form>
	</div>

	<div ng-show="!flags.hasPath&&!flags.pathPending" style="margin-bottom: 100px">
		<div class="list">
			<div class="item item-divider">
				{{'tabs.send.paths.empty' | translate}}
			</div>
		</div>
	</div>

	<div ng-show="flags.hasPath&&!flags.pathPending" style="margin-bottom: 100px">

		<div class="list">
			<div class="item item-divider">
				{{'tabs.send.paths.heading' | translate}}
			</div>
			<div class="item" style="text-align:center" ng-repeat="path in send.pathRecords">
				<p>{{ path.source_amount | formatAmount }}</p>
				<p>{{ getSourceAssetDescription(path) }}</p>
				<button type="button" class="button button-small button-positive" ng-click="submit($index)" ng-disabled="!path.enabled">
					{{'tabs.send' | translate}}
				</button>
			</div>
		</div>
	</div>

</ion-content>

<wallet-footer></wallet-footer>
