<wallet-header></wallet-header>
<ion-content>
	<div class="list">
		<div class="item item-divider">
			{{'tabs.send.info.heading' | translate}}
		</div>

		<form name="$parent.sendForm">
			<label class="item item-input item-inset item-stacked-label">
				<span class="input-label">
					{{'tabs.send.destination.label' | translate}}
				</span>
				<input type="text" name="destination" ng-model="send.destination" placeholder="{{'tabs.send.destination.placeholder' | translate}}" autocapitalize="none" autocomplete="off" valid-address>
				<a on-tap="selectRecipient()" style="position:absolute;right:16px;top:40px;padding-left:16px">
					<i class="glyphicon glyphicon-book"></i>
				</a>
				<span style="overflow:hidden;text-overflow:ellipsis;white-space:nowrap" class="text-gray" ng-show="send.destinationRaw && send.destinationRaw!==send.destination">
					({{send.destinationRaw}})
				</span>
			</label>

			<div ng-show="flags.hasValidDestination">
				<div class="item" style="padding-bottom:8px;padding-top:6px">
					<span class="input-label" style="padding-bottom:0;padding-top:0">
                        {{'tabs.send.amount.label' | translate}}
                    </span>
					<div class="row" style="padding:0">
						<div class="col" style="padding:0">
							<label class="item-input item-stacked-label" style="padding-left:0;border-width:0;border:#CCC;border-style:solid;padding-top:0;padding-bottom:0;border-width:0 0 1px 0;margin-right:8px">
								<input type="number" ng-model="send.amount" ng-change="onAmount()" ng-model-options="{debounce: 200}" placeholder="{{'tabs.send.amount.placeholder' | translate}}" min="{{send.minAmount}}" style="height:28px">
							</label>
						</div>

						<div class="col" style="padding:0;">
							<label class="item-input item-select item-stacked-label" style="padding-left:0;border:#CCC;border-style:solid;padding-top:0;padding-bottom:0;border-width:0 0 1px 0;margin-left:8px">
								<select ng-model="send.asset" ng-change="onAsset()" ng-options="getAssetDescription(asset) for asset in destinationAssets" style="height:28px;padding-top:3px;padding-bottom:2px">
								</select>
							</label>
						</div>
					</div>
				</div>

				<div class="item" style="padding:8px 16px">
					<button class="button button-block button-outline button-stable" style="margin:0;border-radius:0" on-tap="advanced=!advanced">
						<div ng-show="!advanced">
							<i class="fa fa-cog"></i>
							&nbsp;{{'global.advanced.show' | translate}}&nbsp;
							<i class="icon-arrow-down4"></i>
						</div>
						<div ng-show="advanced">
							<i class="fa fa-cog"></i>
							&nbsp;{{'global.advanced.hide' | translate}}&nbsp;
							<i class="icon-arrow-up4"></i>
						</div>
					</button>
				</div>

				<div ng-show="advanced">
					<label class="item item-input item-select item-stacked-label">
						<span class="input-label">
							{{'memo.type' | translate}}
						</span>
						<select ng-model="send.memo_type" ng-init="send.memo_type=memoTypes[0].value">
							<option ng-repeat="type in memoTypes" value="{{type.value}}">{{type.name | translate}}</option>
						</select>
					</label>
					<label class="item item-input item-inset item-stacked-label" ng-show="send.memo_type">
						<span class="input-label">
							{{'memo.memo' | translate}}
						</span>
						<input type="text" ng-model="send.memo">
					</label>
				</div>
			</div>
		</form>
	</div>

	<div ng-show="!flags.hasPath&&!flags.pathPending" style="margin-bottom: 100px">
		<div class="list">
			<div class="item item-divider">
				{{'tabs.send.paths.empty' | translate}}
			</div>
		</div>
	</div>

	<div ng-show="flags.hasPath&&!flags.pathPending" style="margin-bottom: 100px">

		<div class="list">
			<div class="item item-divider">
				{{'tabs.send.paths.heading' | translate}}
			</div>
			<div class="item" style="text-align:center" ng-repeat="path in send.pathRecords">
				<p>{{ path.source_amount | formatAmount }}</p>
				<p>{{ getSourceAssetDescription(path) }}</p>
				<button type="button" class="button button-small button-positive" ng-click="submit($index)" ng-disabled="!path.enabled">
					{{'tabs.send' | translate}}
				</button>
			</div>
		</div>
	</div>

</ion-content>

<wallet-footer></wallet-footer>
