<config-navbar heading="{{'transaction.heading' | translate}}" back="{{'global.done' | translate}}"></config-navbar>
<ion-content class="has-header">

	<div class="list">

		<div class="item activity-header" ng-if="type==='send'">

			<div class="circle circle-red" style="margin-bottom:8px">
				<i class="icon ion-ios-upload-outline"></i>
			</div>
			<div class="text-gray" style="margin-bottom:8px">
				{{'transaction.sent' | translate}}
			</div>
			<div style="font-size:24px;margin-bottom:8px">
				{{ amount | formatAmount }} {{ code}}
			</div>
		</div>

		<div class="item activity-header" ng-if="type==='recv'">
			<div class="circle circle-green" style="margin-bottom:8px">
				<i class="icon ion-ios-download-outline"></i>
			</div>
			<div class="text-gray" style="margin-bottom:8px">
				{{'transaction.received' | translate }}
			</div>
			<div style="font-size:24px;margin-bottom:8px">
				{{ amount | formatAmount }} {{ code}}
			</div>
		</div>

		<div class="item activity-header" ng-if="type==='trade'">
			<div class="circle circle-blue" style="margin-bottom:8px">
				<i class="fa fa-exchange"></i>
			</div>
			<div class="text-gray" style="margin-bottom:8px">
				{{'transaction.traded' | translate }}
			</div>
			<div style="font-size:24px;margin-bottom:8px">
				+{{ bought_amount | formatAmount }} {{ bought_code}}
			</div>
			<div style="font-size:24px;margin-bottom:8px">
				-{{ sold_amount | formatAmount }} {{ sold_code}}
			</div>
		</div>

		<div class="item item-divider">
			{{'transaction.details' | translate }}
		</div>

		<div class="item" style="padding-top: 6px;padding-bottom: 6px;" ng-if="type!=='trade'">
			<label class="item-input" style="padding-left:0;justify-content: space-between;">
				<span class="input-label" style="padding-right:20px;flex-shrink:0;width:auto">
					{{::counterpartyLabel | translate}}
				</span>
				<span class="text-gray" style="flex-shrink:1;justify-content:flex-end;text-overflow:ellipsis;overflow:hidden">
					<account-name id="{{::counterparty}}" network="{{::network}}" tx="effect"></account-name>
				</span>
			</label>
		</div>

		<div class="item" style="padding-top: 6px;padding-bottom: 6px;">
			<label class="item-input" style="padding-left:0;justify-content: space-between;">
				<span class="input-label">
					{{'transaction.date' | translate}}
				</span>
				<span class="text-gray">
					{{::effect.date | formatDate}}
				</span>
			</label>
		</div>

		<div class="item" style="padding-top: 6px;padding-bottom: 6px;" ng-if="!isContact && effect.memo">
			<label class="item-input" style="padding-left:0;justify-content: space-between;">
				<span class="input-label">
					{{'transaction.memo' | translate}}
				</span>
				<span class="text-gray">
					{{::effect.memo}}
				</span>
			</label>
		</div>

		<div class="item" style="padding-top: 6px;padding-bottom: 6px;" ng-show="effect.comment">
			<label class="item-input" style="padding-left:0;justify-content: space-between;">
				<span class="input-label">
					{{'transaction.comment' | translate}}
				</span>
				<span class="text-gray">
					{{effect.comment}}
				</span>
			</label>
		</div>

		<div style="padding-left:16px;padding-right:16px">
			<button class="button button-block button-positive" on-tap="editComment()">
				{{buttonText() | translate}}
			</button>
		</div>

		<div style="padding-left:16px;padding-right:16px" ng-if="!isWallet && !isContact && type!=='trade'">
			<button class="button button-block button-positive" on-tap="addContact()">
				{{'transaction.contact.add' | translate}}
			</button>
		</div>
	</div>
</ion-content>
