<ion-modal-view ng-controller="AddTrustlineCtrl">
	<ion-header-bar align-title="center" class="tab-bar">
		<h1 class="title ellipsis">
			{{'modal.trustline.heading' | translate}}
		</h1>
	</ion-header-bar>

	<ion-content class="modal-content fix-modals-touch" scrollbar-y="false">
		<div class="item item-divider"></div>
		<form name="form.trustline">
			<label class="item item-input item-stacked-label">
				<span class="input-label">
					{{'modal.trustline.anchor.label' | translate}}
				</span>
				<input type="text" name="anchor" ng-model="model.anchor" ng-model-options="{debounce: 200}" placeholder="{{'modal.trustline.anchor.placeholder' | translate}}" autocapitalize="none" autocomplete="off" autocorrect="off" spellcheck="false" required valid-anchor>
			</label>
			<label class="item item-input item-stacked-label" ng-show="showAsset">
				<span class="input-label">
					{{'modal.trustline.asset.label' | translate}}
				</span>
				<input type="text" ng-model="model.asset" placeholder="{{'modal.trustline.asset.placeholder' | translate}}" autocapitalize="none" required>
			</label>
		</form>

		<div class="row" style="padding:4px 8px">
			<div class="col col-50" style="padding:4px 8px">
				<button class="button button-block button-light" on-tap="cancel()">
					{{'global.cancel' | translate}}
				</button>
			</div>
			<div class="col col-50" style="padding:4px 8px">
				<button class="button button-block button-positive" on-tap="add()" ng-disabled="form.trustline.$invalid || form.trustline.$pending">
					{{'global.ok' | translate}}
				</button>
			</div>
		</div>
	</ion-content>
</ion-modal-view>
